{%- set external_urls = {
  'github': 'https://github.com/PSOURCEUnlimited/',
  'github_issues': 'https://github.com/PSOURCEUnlimited/psource-theme/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'http://docs.psourceunlimited.com',
  'twitter': 'https://twitter.com/PSOURCEUnlimited',
  'facebook': 'https://www.facebook.com/psourceunlimited/',
  'slack': 'https://psource-unlimited.slack.com',
  'home': 'https://cp-psource.github.io/ps-psource//',
  'get_started': 'https://cp-psource.github.io/ps-psource//get-started/',
  'features': 'https://cp-psource.github.io/ps-psource//forever-free-wordpress-theme-builder/features/',  
  'blog': 'https://cp-psource.github.io/ps-psource//blog/',    
}
-%}